.section1{
    
}
.section-flexible{
     display: flex;
     
}  .div1{
     width:50%;
     float: left;
     margin-left: 80px;
     font-family: 'Poppins', sans-serif;
     display: flex;
     display: block;
}
div img{
    width: 80%;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
body{
    margin: 0;
}
a{
    padding: 10px 40px;
    text-decoration: none;
    background-color: rgb(81, 23, 218);
    border-radius: 10px;
    color:white;
    font-weight: 700;
}


section {
    height: 500px;
    padding-bottom: 150px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 0 0 10px #000;
    padding-bottom: 10px;
    
    
}
.half-width img{
    width: 100%;
}
    .baby1{border-left: blue 10px solid;
    border-image: linear-gradient(
180deg
, blue, cyan);
border-image-slice: 1;}
.baby2{
    border-left: red 10px solid;
    bordr-image: linear-gradient(180deg, red, yellow);
}
footer{
    text-align: center;
    
}
h1, h3, p, footer{
    font-family: 'poppins', sans-serif;
}
.bottom-img{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.middle-img{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.top-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
